.container {
    margin-top: 70px;
    margin-bottom: 100px;
}
a.text-decoration-none,a.text-decoration-none:hover {
    text-decoration: none;
}
.ui-autocomplete {
    top: 60px !important;
}
.user-dropdown .dropdown-menu {
	right: 0px;
	left: auto;
}
